<!DOCTYPE html>
    <head>
        <title>{{ payload.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for ('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for ('static', filename='css/navbar-top.css') }}" rel="stylesheet">
    </head>
    <body>
        <div id='logo'><object data = "{{ url_for('static', filename='images/cassette.svg') }}" width=100></object></div>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Tapes</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/sort">Sort</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                  </li>
                </ul>
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>
          
          <main class="container">
            <div class="bg-light p-5 rounded">
              <h1>Navbar example</h1>
              <p class="lead">This example is a quick exercise to illustrate how the top-aligned navbar works. As you scroll, this navbar remains in its original position and moves with the rest of the page.</p>
              <a class="btn btn-lg btn-primary" href="../components/navbar/" role="button">View navbar docs &raquo;</a>
            </div>
        </main>

        <script src="{{ url_for ('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    </body>
</html>