<!DOCTYPE html>
    <head>
        <title>{{ title }} &middot; {{ item.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='audioplayer.css') }}">
        <style>

            #player{
                position: relative;
                max-width: 700px;
                height: 500px;
                border: solid 1px gray;
            }
        </style>
    </head>
    <body>
        <div id='logo'><object data = "{{ url_for('static', filename='images/cassette.svg') }}" width=100></object></div>
        <div id='player'></div>

        <!-- Audio player js begin-->
        <script src="{{ url_for('static', filename='audioplayer.js') }}"></script>
    
        <script>
            // test image for web notifications
            var iconImage = null;
    
            AP.init({
                container:'#player',//a string containing one CSS selector
                volume   : 0.7,
                autoPlay : true,
                notification: false,
                playList: [
                    {'icon': iconImage, 'title': 'Intro', 'file': "{{ url_for('static', filename='_testmusic/dmb2020-02-28.flac16/dmb2020-02-28t01.flac') }}"},
                    {'icon': iconImage, 'title': 'Granny', 'file': "{{ url_for('static', filename='_testmusic/dmb2020-02-28.flac16/dmb2020-02-28t02.flac') }}"},
                    {'icon': iconImage, 'title': 'Gray Street', 'file': "{{ url_for('static', filename='_testmusic/dmb2020-02-28.flac16/dmb2020-02-28t03.flac') }}"},
                    {'icon': iconImage, 'title': '#41', 'file': "{{ url_for('static', filename='_testmusic/dmb2020-02-28.flac16/dmb2020-02-28t04.flac') }}"},
                    {'icon': iconImage, 'title': 'Do You Remember', 'file': "{{ url_for('static', filename='_testmusic/dmb2020-02-28.flac16/dmb2020-02-28t05.flac') }}"},
                    {'icon': iconImage, 'title': 'What Would You Say', 'file': "{{ url_for('static', filename='_testmusic/dmb2020-02-28.flac16/dmb2020-02-28t06.flac') }}"},
                    {'icon': iconImage, 'title': 'The Riff', 'file': "{{ url_for('static', filename='_testmusic/dmb2020-02-28.flac16/dmb2020-02-28t07.flac') }}"},
                    {'icon': iconImage, 'title': 'Stolen Away on 55th & 3rd', 'file': "{{ url_for('static', filename='_testmusic/dmb2020-02-28.flac16/dmb2020-02-28t08.flac') }}"},
                    {'icon': iconImage, 'title': 'Warehouse', 'file': "{{ url_for('static', filename='_testmusic/dmb2020-02-28.flac16/dmb2020-02-28t09.flac') }}"},
                    {'icon': iconImage, 'title': 'Lying in the Hands of God', 'file': "{{ url_for('static', filename='_testmusic/dmb2020-02-28.flac16/dmb2020-02-28t10.flac') }}"},
                    {'icon': iconImage, 'title': 'Why I Am', 'file': "{{ url_for('static', filename='_testmusic/dmb2020-02-28.flac16/dmb2020-02-28t11.flac') }}"},
                    {'icon': iconImage, 'title': 'Jimi Thing >>', 'file': "{{ url_for('static', filename='_testmusic/dmb2020-02-28.flac16/dmb2020-02-28t12.flac') }}"},
                    {'icon': iconImage, 'title': 'Tell Me Something Good', 'file': "{{ url_for('static', filename='_testmusic/dmb2020-02-28.flac16/dmb2020-02-28t13.flac') }}"},
                    {'icon': iconImage, 'title': 'Beach Ball', 'file': "{{ url_for('static', filename='_testmusic/dmb2020-02-28.flac16/dmb2020-02-28t14.flac') }}"},
                    {'icon': iconImage, 'title': 'What You Are', 'file': "{{ url_for('static', filename='_testmusic/dmb2020-02-28.flac16/dmb2020-02-28t15.flac') }}"},
                    {'icon': iconImage, 'title': 'Come Tomorrow', 'file': "{{ url_for('static', filename='_testmusic/dmb2020-02-28.flac16/dmb2020-02-28t16.flac') }}"},
                    {'icon': iconImage, 'title': 'Long Train Runnin', 'file': "{{ url_for('static', filename='_testmusic/dmb2020-02-28.flac16/dmb2020-02-28t17.flac') }}"},
                    {'icon': iconImage, 'title': 'Crash Into Me', 'file': "{{ url_for('static', filename='_testmusic/dmb2020-02-28.flac16/dmb2020-02-28t18.flac') }}"},
                    {'icon': iconImage, 'title': 'Pantala Naga Pampa >> Rapunzel', 'file': "{{ url_for('static', filename='_testmusic/dmb2020-02-28.flac16/dmb2020-02-28t19.flac') }}"},
                    {'icon': iconImage, 'title': 'Encore Break', 'file': "{{ url_for('static', filename='_testmusic/dmb2020-02-28.flac16/dmb2020-02-28t20.flac') }}"},
                    {'icon': iconImage, 'title': 'Sweet Up and Down >>', 'file': "{{ url_for('static', filename='_testmusic/dmb2020-02-28.flac16/dmb2020-02-28t21.flac') }}"},
                    {'icon': iconImage, 'title': 'Ants Marching', 'file': "{{ url_for('static', filename='_testmusic/dmb2020-02-28.flac16/dmb2020-02-28t22.flac') }}"}
              ]
            });
        </script>
        <!-- Audio player js end-->
    </body>
</html>