<!DOCTYPE html>
    <head>
        <title>{{ payload.title }}{{ payload.show }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link href="{{ url_for ('static', filename='css/navbar-top.css') }}" rel="stylesheet">
    </head>
    <body>
        <!-- <div id='logo'><object data = "{{ url_for('static', filename='images/cassette.svg') }}" width=100></object></div> -->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">Tapes</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/sort">Sort</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/collection">collection</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                  </li>
                </ul>
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>
          

<!-- MAIN CONTENT BEGINS -->
          <main class="container">
            <div id="show_container" class="container-fluid main_container">
                <div id="show_timeline" class="row">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <h2>{{ payload.show_name }}</h2>
                    </div>
                    <div class="row">
                        <h5>{{ payload.show_artist }} &middot; {{ payload.show_date }}</h5>
                    </div>
                    <div class="row">
                        <div class="col-md-12 min-vh-30">
                            <p>timeline here</p>
                        </div>
                    </div>
                </div>
            
                <div id="show_playlist" class="row">
                    {% for t in payload.tracks %}
                    <div id="{{ t.name }}container" class="row">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-5">01. <a data-bs-toggle="collapse" href="#{{ t.name }}" role="button" aria-expanded="false" aria-controls="{{ t.name }}">{{ t.title }}</a></div>
                            <div class="col-md-1">{{ t.track_length }}</div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="row collapse" id="{{ t.name }}">
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-2">{{ t.bits_per_sample }}-bit</div>
                                <div class="col-md-2">{{ t.sample_rate }} hz</div>
                                <div class="col-md-2">
                                    {% if t.channels == "1" %}
                                        <span>Mono</span>
                                    {% elif t.channels == "2" %}
                                        <span>Stereo</span>
                                    {% else %}
                                        <span>Surround</span>
                                    {% endif %}
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">File Path: {{ t.file_path }}</div>
                                <div class="col-md-3"></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    </div> 
                </div>
            </div>
          </main>
<!-- MAIN CONTENT ENDS -->     


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    </body>
</html>