<!DOCTYPE html>
    <head>
        <title>{{ payload.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for ('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for ('static', filename='css/navbar-top.css') }}" rel="stylesheet">
    </head>
    <body>
        <!-- <div id='logo'><object data = "{{ url_for('static', filename='images/cassette.svg') }}" width=100></object></div> -->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">Tapes</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/sort">Sort</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                  </li>
                </ul>
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>
          
          <main class="container">
            <div class="bg-light p-5 rounded">
              <h1>Sort</h1>
              <div id='tosort'>
                <p><h3>{{ payload.crawl_results.show }}</h3></p>
                <form class="row g-3">
                  <div class="row">
                    <div class="col-md-3">
                      <label for="show_artist" class="form-label">Artist</label>
                      <input type="text" class="form-control" id="show_artist" value="{{ payload.crawl_results.tracks[0].artist }}">
                    </div>
                    <div class="col-md-3">
                      <label for="show_date" class="form-label">Date (yyyy-mm-dd)</label>
                      <input type="text" class="form-control" id="show_date" value="{{ payload.crawl_results.tracks[0].date }}">
                    </div>
                    <div class="col-md-6">
                      <label for="show" class="form-label">Show</label>
                      <input type="text" class="form-control" id="show" value="{{ payload.crawl_results.tracks[0].show }}">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label for="band_code" class="form-label">Band Code</label>
                      <input type="text" class="form-control" id="band_code" placeholder="bbb">
                    </div>
                  </div>
                  <p><h3>Tracks</h3></p>
                    {% for t in payload.crawl_results.tracks %}
                    <div class="row mb-3">
                      <div class="col-md-2">
                        <label for="track_health" class="form-label">Health</label>
                        {% if t.track_health == "Passed" %}
                          <input type="text" class="form-control" id="track_health" value="MD5 Passed" disabled readonly>
                        {% else %}
                          <input type="text" class="form-control" id="track_health" value="MD5 Failed" disabled readonly>
                        {% endif %}
                      </div>
                      <div class="col-md-1">
                        <label for="track_disc" class="form-label">Disc #</label>
                        <input type="text" class="form-control" id="track_disk" placeholder="1">
                      </div>
                      <div class="col-md-1">
                        <label for="track_num" class="form-label">Track #</label>
                        <input type="text" class="form-control" id="track_num" placeholder="01">
                      </div>
                      <div class="col-md-4">
                        <label for="track_title" class="form-label">Title</label>
                        <input type="text" class="form-control" id="track_title" value="{{ t.title }}">
                      </div>
                      <div class="col-md-4">
                        <label for="track_file_name" class="form-label">Filename</label>
                        <input type="text" class="form-control" id="track_file_name" value="{{ t.name }}" disabled readonly>
                      </div>
                    </div>
                    {% endfor %}
                <div class="col-12">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                </form>
                
                </div>
            </div>
          </main>



        
        <script src="{{ url_for ('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    </body>
</html>